:global {
    body[data-theme = 'light'] {
        --header-color: var(--gray-300)
    }
    body[data-theme = 'dark'] {
        --header-color: var(--white)
    }
}


.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.headerLogo {
    color: var(--header-color);
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
}